In [1]:
import pandas as pd

In [2]:
#read the file
df=pd.read_csv('//Users/candicewu/Desktop/DA Projects/4.Superstore Sales/superstore_final_dataset.csv')

In [3]:
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   object
 3   Ship_Date      9800 non-null   object
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

#Step 1: Removing duplicate rows ( there could be duplicate rows excluding Row_ID column ).
https://www.w3schools.com/python/ref_set_difference.asp
https://www.digitalocean.com/community/tutorials/pandas-drop-duplicate-rows-drop_duplicates-function

In [5]:
# Drop duplicate rows based on all columns except for Row_ID
df = df.drop_duplicates(subset=df.columns.difference(['Row_ID'])) #df.columns.difference(['Row_ID']) returns a list of all column names in the DataFrame except for Row_ID

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9799 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9799 non-null   int64
 1   Order_ID       9799 non-null   object
 2   Order_Date     9799 non-null   object
 3   Ship_Date      9799 non-null   object
 4   Ship_Mode      9799 non-null   object
 5   Customer_ID    9799 non-null   object
 6   Customer_Name  9799 non-null   object
 7   Segment        9799 non-null   object
 8   Country        9799 non-null   object
 9   City           9799 non-null   object
 10  State          9799 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9799 non-null   object
 13  Product_ID     9799 non-null   object
 14  Category       9799 non-null   object
 15  Sub_Category   9799 non-null   object
 16  Product_Name   9799 non-null   object
 17  Sales          9799 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB

#Step 2: Removing rows for which few values are missing.
#https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php

In [7]:
#find the column with the number of missing values.
df.isna().sum()

Row_ID            0
Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

In [8]:
#using dropno ()function to remove missing values
df=df.dropna()

In [9]:
#check if missing values were sucessfully dropped 
df.isna().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

#Step 3: Remove irrelevant values from each column if any. Validation of all values for a column( order date and ship date value must be in correct date format ). For each entry in dataset ship date >= order date
https://www.geeksforgeeks.org/python-pandas-to_datetime/
https://pypi.org/project/pycountry/

In [10]:
import datetime

# remove irrelevant values and validate date format
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d/%m/%Y', errors='coerce')
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'], format='%d/%m/%Y', errors='coerce')

# drop rows where ship date is earlier than order date
df = df[df['Ship_Date'] >= df['Order_Date']]
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9788 non-null   int64
 1   Order_ID       9788 non-null   object
 2   Order_Date     9788 non-null   datetime64[ns]
 3   Ship_Date      9788 non-null   datetime64[ns]
 4   Ship_Mode      9788 non-null   object
 5   Customer_ID    9788 non-null   object
 6   Customer_Name  9788 non-null   object
 7   Segment        9788 non-null   object
 8   Country        9788 non-null   object
 9   City           9788 non-null   object
 10  State          9788 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9788 non-null   object
 13  Product_ID     9788 non-null   object
 14  Category       9788 non-null   object
 15  Sub_Category   9788 non-null   object
 16  Product_Name   9788 non-null   object
 17  Sales          9788 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.4+ MB

In [12]:
import pycountry

# Create a dictionary of valid values for each column that should have specific types of values
valid_values = {
    'Country': [country.name for country in pycountry.countries],
    'Order_Date': None,  # no specific format required for this column
    'Ship_Date': None,  # no specific format required for this column
    'Ship_Mode': ['Standard Class', 'Second Class', 'First Class', 'Same Day'],
    'Customer_ID': None,  # no specific format required for this column
    'Customer_Name': None,  # no specific format required for this column
    'Segment': ['Consumer', 'Corporate', 'Home Office'],
    'City': None,  # no specific format required for this column
    'State': None,  # no specific format required for this column
    'Postal_Code': None,  # no specific format required for this column
    'Region': ['East', 'West', 'Central', 'South'],
    'Product_ID': None,  # no specific format required for this column
    'Category': ['Furniture', 'Office Supplies', 'Technology'],
    'Sub_Category': None,  # no specific format required for this column
    'Product_Name': None,  # no specific format required for this column
    'Sales': None,  # no specific format required for this column
}

In [13]:

# Loop through each column in the DataFrame
for col in df.columns:
    print(f'Processing column: {col}')
    
    # Check if the column is a date column
    if col in ['Order_Date', 'Ship_Date']:
        print(f'Validating date format for column: {col}')
        # Validate the date format
        df[col] = pd.to_datetime(df[col],  format='%d/%m/%Y', dayfirst=True, errors='coerce')
        print(f'Checking ship date is greater than or equal to order date for column: {col}')
        # Check if the ship date is greater than or equal to the order date
        df = df[df['Ship_Date'] >= df['Order_Date']]
        
    else:
        # Remove any rows that have an irrelevant value in the column
        if col == 'Country':
            relevant_countries = [country.name.lower() for country in pycountry.countries]
            print(f'Removing irrelevant rows for column: {col}')
            df = df[df[col].str.lower().isin(relevant_countries)]
        else:
            # You can add more elif statements for other columns that need cleaning/validation
            pass

Processing column: Row_ID
Processing column: Order_ID
Processing column: Order_Date
Validating date format for column: Order_Date
Checking ship date is greater than or equal to order date for column: Order_Date
Processing column: Ship_Date
Validating date format for column: Ship_Date
Checking ship date is greater than or equal to order date for column: Ship_Date
Processing column: Ship_Mode
Processing column: Customer_ID
Processing column: Customer_Name
Processing column: Segment
Processing column: Country
Removing irrelevant rows for column: Country
Processing column: City
Processing column: State
Processing column: Postal_Code
Processing column: Region
Processing column: Product_ID
Processing column: Category
Processing column: Sub_Category
Processing column: Product_Name
Processing column: Sales

In [14]:
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9788 non-null   int64
 1   Order_ID       9788 non-null   object
 2   Order_Date     9788 non-null   datetime64[ns]
 3   Ship_Date      9788 non-null   datetime64[ns]
 4   Ship_Mode      9788 non-null   object
 5   Customer_ID    9788 non-null   object
 6   Customer_Name  9788 non-null   object
 7   Segment        9788 non-null   object
 8   Country        9788 non-null   object
 9   City           9788 non-null   object
 10  State          9788 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9788 non-null   object
 13  Product_ID     9788 non-null   object
 14  Category       9788 non-null   object
 15  Sub_Category   9788 non-null   object
 16  Product_Name   9788 non-null   object
 17  Sales          9788 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.4+ MB

#Step 4: Export the cleaned dataset as a .csv file: prefer UTF-8 encoding.

In [16]:
df.to_csv('/Users/candicewu/Desktop/cleaned_superstore_dataset.csv', index=False)